@import "../../_globalColor";

.skills-main-div {
	display: flex;
	width: 100%;
	overflow: hidden;
}

.skills-text-div {
	margin-left: 50px;
}

.skills-main-div > * {
	flex: 1;
	margin-bottom: 10px;
}

.skills-heading {
	font-size: 56px;
	font-weight: 400;
}
.subTitle {
	color: $subTitle;
}

.skills-container {
  display:flex;
  flex-wrap: wrap;
}
.skills-category-title{
  font-size: 20px;
  text-align: center; 
  margin-bottom: 20px;
}
.skills-category-container{
  width: 50%;
  height: auto;
  border: 1px solid rgba(211,211,211,0.397);
  border-radius: 10px;
  padding: 3rem;


}

/* Media Query */
@media (max-width: 1380px) {
	.skills-heading {
		font-size: 40px;
	}
}
@media (max-width: 768px) {
	.skills-heading {
		font-size: 30px;
		text-align: center;
	}
	.greeting-text-p {
		font-size: 16px;
		line-height: normal;
	}
	.skills-main-div {
		flex-direction: column;
	}
	.skills-text-div {
		margin-left: 0px;
		margin: 20px;
	}
	.skills-text {
		font-size: 16px;
	}
	.skills-text-subtitle {
		font-size: 16px;
		text-align: center;
	}
	.skills-image-div  {
	 max-width:10px ; 	
   order: 1;
	}
}
