@import "../../_globalColor";

.skills-main-div {
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  margin-left: 50px;
}

.skills-main-div>* {
  flex: 1;
  margin-bottom: 10px;
}

.skills-heading {
  font-weight: 400;
  font-size: 3rem;
}

.subTitle {
  color: $subTitle;
  font-size: 1.3rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-category-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -15px;
}

.skills-category-container {
  width: clamp(20rem, 20%, 20%);
  height: auto;
  border: 1px solid rgba(211, 211, 211, 0.397);
  border-radius: 10px;
  padding: 3rem;
  font-size: 1rem;
  flex: 1 1 auto;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {}
}

@media (max-width: 768px) {
  .skills-heading {
    text-align: center;
  }

  .skills-main-div {
    flex-direction: column;
  }

  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }

  .skills-text {}

  .skills-text-subtitle {
    text-align: center;
  }

  .skills-image-div {
    max-width: 10px;
    order: 1;
  }
}
