@import "../../_globalColor";

.card-image {}

.card-title {
  color: $titleColor;
  width: clamp(100px, max-content, 100%);
}

.card-subtitle {
  color: $cardSubtitle;
  width: 100%;
  text-align: justify;
}

.project-card {
  display: flex;
  width: fit-content;
  max-width: 100%;
  min-width: 250px;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $lightBackground2;
  border-radius: 10px;
  padding: 3rem;
  border: 1px solid $lightBorder1;

}

.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-detail {}

.project-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}

.project-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}

.project-content {
  border-radius: 10px;
  width: clamp(300px, 500px, 850px);
}

.project-image {
  width: max-content;
}

.project-video {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.project-video video {
  border-radius: 10px;
  width: clamp(200px, 100%, 100%);
  height: auto;
  object-fit: cover;
  box-shadow: 0px 0px 40px -20px #d9dbdf
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-card-footer {
  max-width: max-content;
}

.project-card-footer span.project-tag {
  background: $buttonColor;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  max-width: max-content;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}
