@import "../../_globalColor";

.card-image {
	max-width: 100%;
	height: auto;
	width: 250px;
}
.card-title {
	color: $titleColor;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	margin: 15px 0 0 0;
}
.card-subtitle {
	color: $cardSubtitle;
	font-size: 17px;
	line-height: 1.5rem;
}
.project-card {
	display: flex;
	flex-direction: row;
	background-color: $lightBackground2;
	padding: 1.5rem;
  flex-wrap:wrap;
	border-radius: 10px;
	border: 1px solid $lightBorder1;
	width: clamp(80%,100%,max-content) ;
}
.project-card-light {
	box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-card-dark {
	box-shadow: 0px 10px 30px -15px $darkBoxShadow;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.25s ease;
}

.project-detail {
	text-align: justify;
	width: 30vw;
	white-space: pre-line;
}
.project-card-light:hover {
	box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.project-card-dark:hover {
	box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}

.project-content {
	flex: 1;
	border-radius: 10px;
	padding: 3rem;
  max-width: clamp(300px,40%,40%);
}

.project-image {
	position: relative;
	height: 150px;
	width: auto;
	overflow: hidden;
	display: flex;
	justify-content: left;
	align-items: center;
}

.project-video {
	display: flex;
  align-items: center;
	justify-content: left;
  max-width: 50%;
  height: auto;
}
.project-video video {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit:cover;
  box-shadow: 0px 0px 40px -10px #d9dbdf
}
.projects-container {
	display: flex;
	flex-direction: column;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
  }
.projects-container .project-card:nth-child(odd) {
	justify-self: start; /* left */
}

.projects-container .project-card:nth-child(even) {
	justify-self: end; /* right */
}
.project-card-footer span.project-tag {
	background: $buttonColor;
	color: $lightBackground3;
	vertical-align: middle;
	align-items: center;
	border-radius: 4px;
	display: inline-flex;
	font-size: 0.75rem;
	height: 2em;
	justify-content: center;
	white-space: nowrap;
	line-height: 1.5;
	margin: 0 0.5rem 0.5rem 0;
	padding: 0 0.75em;
	cursor: pointer;
	transition: 0.2s ease-in;
}

@media (max-width: 768px) {
	.project-subtitle {
		font-size: 16px;
		text-align: center;
	}
}
