@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60px;
  height: auto;
  position:relative;
  cursor: pointer;

}

.software-skill-inline > i {
  color: $subTitle;
}
.on-hover {
  position: absolute;
  top: 50%;
  left: 120%; /* move it to the right of the icon */
  transform: translateY(-50%);
  background-color: rgba(67, 69, 87, 0.95);
  color: white;
  padding: 6px 10px;
  white-space:pre-wrap;
  z-index: 10;
  pointer-events: none; /* optional: makes tooltip ignore mouse */
  padding: 2rem;

  width: clamp(200%,420%,500%);
  text-align: justify;
  word-spacing: 0.05em;
  border-radius: 20px;
  border: 1px solid rgba(211,211,211,0.5);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

  
.software-skill-inline:hover  .on-hover{
  opacity: 1;
  transform: translateY(-50%),translateX(10px);
}

.software-skills-main-div{
  display: flex;
  gap:16px;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x:hidden;
  
}
.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}
.software-skills-list{
  display: grid;
  gap: 20px; /* spacing between items */
  grid-template-columns: repeat(auto-fill, minmax(120px, max-content));
  justify-content:center;
  place-items:center;
}
