@import "../../_globalColor";
@import "../button/Button";

/*React-headroom*/
.headroom-wrapper {
  max-height: clamp(80px, 5vw, 100px);
}

/* header */

.dark-menu {
  background: $secondAccent !important;
  color: $textColorDark;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.dark-menu li a {
  display: block;
  padding: clamp(5px, 0.5vw, 20px) clamp(5px, 1vw, 30px);
  color: $textColorDark !important;
  transition: all 0.3s ease-in-out 0s;
}

.dark-menu li {
  float: none;
}


.dark-menu li a:hover {
  @extend .on-hover;

  transform: translateY(0px);
}

.header {
  background-color: $lightBackground1;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  flex: 0 1 auto;
}

.header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.grey-color {
  color: $subTitle;
}

.header li a {
  display: flex;
  padding: clamp(10px, 1.5vw, 20px) clamp(15px, 2vw, 30px);
  color: $textColor;
  text-decoration: none;
  font-size: 1.1rem;
  text-align: center;
  align-items: center;

}

.header li a:hover,
.header .menu-btn:hover {}

.header .logo {
  display: none;
  flex: none;
  float: left;
  text-decoration: none;
  margin-top: clamp(5px, 1vw, 15px);
  line-height: normal;
}

.header .logo-name {
  font-family: "Agustina Regular";
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 clamp(5px, 1vw, 10px);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  display: none;
  cursor: pointer;
  float: right;
  padding: clamp(15px, 2vw, 28px) clamp(10px, 2vw, 20px);
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $iconBackground;
  display: block;
  height: clamp(2px, 0.2vw, 3px);
  width: clamp(18px, 2vw, 25px);
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .navicon-dark {
  background: $textColorDark;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $iconBackground;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon-dark:before,
.header .menu-icon .navicon-dark:after {
  background: $textColorDark !important;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: clamp(3px, 0.5vw, 5px);
}

.header .menu-icon .navicon:after {
  top: clamp(-3px, -0.5vw, -5px);
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: clamp(300px, 25vw, 486px);
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent !important;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* header list items */
.header li {
  float: left;
  display: flex;
  flex-shrink: 1;
  font-size: 1rem;
}

@media (max-width:760px) {
  .header {
    display: none;
  }
}
